*{
    scroll-behavior: smooth;
    margin: 0;
}
.navber{
    box-shadow:0 5px 10px rgba(221, 131, 131, 0.5) ;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 80%;
}
nav > a {
    grid-column: span 2;
}
.menu{
    grid-column: 4;
    display: flex;
}
.menu .nav-item{
    list-style-type: none;
    margin: 10px;
}
.area{
    min-height: 100vh;
    margin: 5px 20px;
    background-color: rgb(221, 174, 167);


}
#home{
    margin-top: 0;
}