*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./image/bbbb.jpg);
    background-size: cover;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgba(71, 114, 222, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo{
    width: 25%;
    /* padding-top: 18px; */
    text-align: center;
}

nav h1 {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: white;
}

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
 main{
   
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 section h3{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
 }

 section h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 30px 0;
    text-shadow: 1px 1px 5px black;
 }
 
 section p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: hotpink;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
 }
 .btn1{
    margin: 10px;
    color: black;
    background-color: rgb(20, 115, 205);
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
 }

 .btn1:hover{
    color: white;
    background-color: rgb(9, 171, 71);
    transform: scale(1.6);
    border-radius: 20px;
 }


 .btn2{
    margin: 10px;
    color: black;
    background-color: rgb(20, 115, 205);
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}

.btn2:hover{
    color: white;
    background-color: rgb(9, 171, 71);
    transform: scale(1.6);
    border-radius: 20px;
 }

.change::after{
    content: '';
    animation: subjectchange 10s infinite linear;
    color: #00b894;
}
@keyframes subjectchange{
    0%{
        content: "Modern Physics";
    }
    25%{
        content: "Electrisity and Electromagnetism";
    }
    50%{
        content: "Calculus And Differential Equation";
    }
    75%{
        content: "Basic ICT LAB";
    }
    100%{
        content: "C Programming";
    }
}
